body {
  margin: 30px auto;
  max-width: 600px;
  padding: 0 30px;
  align-items: center;
}
/* City and state*/
h1 {
  color: #ab47bc;
  margin: 0 auto;
  position: relative;
  top: 10px;
  padding: 0px;
  border: 1px;
  height: 37px;
}
h2 {
  color: #ab47bc;
  margin: 0 auto;
  position: relative;
  top: 10px;
  padding: 0px;
  border: 1px;
  height: 0px;
  font-size: 15px;
}
form {
  color: #eedaf3;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 1px;
  position: relative;
  float: right;
  top: 5px;
  margin: auto;
  left: 50px;
}
input[type="text"] {
  border: none;
  background: white;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 5px solid;
  border-radius: inherit;
}

input[type="submit"]::placeholder {
  color: #ab47bc;
}
input[type="submit"] {
  width: 80px;
  padding: 0px;
  margin: 0px;
  border: 0px solid transparent;
  border-radius: inherit;
  color: #ab47bc;
  background: whitesmoke;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}
button[type="submit"]:focus,
input[type="submit"]:focus {
  box-shadow: 0 0 10px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
/*this controls the circle*/
.circle {
  margin: auto;
  width: 300px;
  height: 300px;
  border: 3px solid #ab47bc;
  border-radius: 50%;
  color: #ffa726;
  text-align: center;
}
.container {
  align-items: center;
  max-width: 700px;
  justify-content: center;
}
.currentTemp {
  margin: auto;
  color: #ffa726;
  padding: 35px;
  font-size: 70px;
}
.feeling {
  color: #ab47bc;
  padding: 0px;
  font-size: 35px;
}
.temp {
  color: #ffa726;
  margin: auto;
  font-size: 45px;
  width: auto;
  text-align: center;
}
